/* HTML Contacto */

.imagenContacto {
    background-image: url(../imagenes/mapa1.png);
    background-repeat: repeat-x;
    background-position: $centro;

    .contactoC {
        text-align: $centro;
        margin: 15px 0px 20px 0px;

        h1 {
            font-family: 'Montserrat', sans-serif;
            text-align: $centro ;
            text-decoration: underline;
            font-size: 30px;
            margin-top: 30px;
            margin-bottom: 5px;
            color: rgb(126, 91, 126);
        }

        .negra {
            font-weight: $negra;
        }
    }

    form {
        margin-top: 20px;
        text-align: $centro;
        margin-bottom: 20px;

        h3 {
            font-size: 25px;
            text-decoration: underline;
            color: black;
            font-weight: $negra;
        }

        label {
            display: flex;
            flex-direction: column;
            font-size: 17px;
            margin: 15px 0px;
            font-weight: 700;
        }

        input,
        textarea {
            display: $centro;
            border: 3px black solid;
            border-radius: 5px;
            font-size: 16px;
        }
        .formularioB {
            background-color: $color;
            border: 1px black solid;
            padding: 5px;
            font-weight: 600;
            border-radius: 5px;
            cursor: pointer;
        }
    }

}




