//HEADER

.encabezado {
    @include anclas;
    text-align: $centro;
    border-bottom: 1px black solid;
    padding: 5px 20px;
    background-color: $color;
    text-transform: uppercase;
    position: sticky;
    top: 0;
    z-index: 10;
   
    justify-content: space-around;
    

    nav {

        li {
            list-style: none;
            display: inline-block;
            margin: 20px;
            font-size: 15px;
            font-weight: $negra;


            a {
                color: black;


                &:hover {
                    text-decoration: underline white;
                    opacity: 60%;
                }
            }



        }

    }

    div {
        h2 {
            font-family: Georgia, 'Times New Roman', Times, serif;
            text-transform: capitalize;
            font-size: 25px;
            font-weight: $negra;
            color: rgb(64, 63, 64);
           
        }

        a {
            .logoPrincipal {
                width: 120px;
                height: 120px;
            }

        }
    }
}