/* HTML Planificar */
/* main */

.planificarP {
    h2{
        text-align: center;
        text-decoration: underline;
        font-size: 30px;
        margin-top: 30px;
        margin-bottom: 5px;
        color: rgb(126, 91, 126);
        font-family: "Montserrat", sans-serif;
    }
    p {
        margin: 20px 30px;
        letter-spacing: 2px;
        text-align: $centro;
        text-shadow: 4px 6px 7px $color;
    }

}

/* div */

.pasos {

    h3 {
        text-align:$centro;
        font-weight: $negra;
        color: black;
        border: 2px black solid;
        background-color: $color;
        border-radius: 22px;
        font-family: 'Montserrat', sans-serif;

    }

    .cuadrado {
        border: 2px $color dashed ;
        margin: 5px;
        text-align: $centro;
      
        h4 {
            text-decoration: underline $color;
            font-size: 25px;
            margin: 5px;
            font-variant: small-caps;

        }
    
        

        p {
            text-align: justify;
            letter-spacing: 1px;
            margin: 20px;
        }
    }

}