/* HTML Viajar Sola */

.viajarSola {
    h2{
        text-align: center;
        text-decoration: underline;
        font-size: 30px;
        margin-top: 30px;
        margin-bottom: 5px;
        color: rgb(126, 91, 126);
        font-family: "Montserrat", sans-serif;
    }
    p {
        text-align: $centro;
        margin: 10px 25px;
        font-size: 20px;
        font-family: 'Arimo', sans-serif;
    }

    h3 {
        text-align: $centro;
        margin-top: 20px;
        border-top: 3px $color dashed;
        border-bottom: 3px $color dashed;
        font-weight: 550;
        color: rgb(77, 10, 77);
    }

    .principalSola {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        margin: 20px;

        .uno {
            
            background-color: rgba(163, 150, 163, 0.2);
            border: 1px black solid;
            margin: 20px;

            h4 {
                text-align: $centro;
                margin-top: 10px;
                text-decoration: underline;
            }

            p {
                text-align: justify;
                margin: 10px 20px;
            }
        }

    }

}